@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
    font-family: 'Advent Pro', sans-serif;
}

#myBtn 
{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #a6a6a6;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
  
#myBtn:hover {opacity: 0.7;}
header
{
    border-bottom: 1px solid grey;
}
.container
{
    width: 1200px;
    margin: auto;
}
.flex
{
    display: flex;
    justify-content: space-between;
}
.writing
{
    margin-left: 10px;
}
.header_top
{
    padding: 10px 0px;
}
.modelquote
{
    border: 1px solid grey;
    margin-left: 208px;
    height: 39px;
    margin-top: 74px;
}
.customerservice
{
    border: 1px solid grey;
    height: 39px;
    margin-top: 74px;
}
.search input
{
    width: 825px;
    border: 2px solid black;
    border-radius: 2px;
    padding: 8px;
    font-size: 15px;
}
.btn
{
    background:blue;
    color: white;
    width: 64px;
    margin-left: -35px;
    border: none;
}
.login
{   
    border: 1px solid grey;
    height: 39px;
    padding:5px 10px;
    background: #ffcd00;
    width: 175px;
    margin-right: -25px;
    position: relative;
}
.cart
{
    border: 1px solid grey;
    height: 39px;
    background:blue;
    color: white;
    padding:7px 50px;
    width: 142px;
}
.modelquote
{
    position: relative;
}
.displayfirst
{
    position: absolute;
    top: 36px; left: -138px;
    width: 300px;
    line-height: 2;
    border: 1px solid black;
    display: none;
    background: white;
    z-index: 9;
}
.mystyle{display: block;}
.maintopper
{
    padding-top: 10px;
    background: #0098d8;
    height: 45px;
    color: white;
    text-align: center;
    font-size: 18px;
}
.firstrow
{
    margin-top: 10px;
    
}
.firstrow_one
{
    width: 95px;
    background: blue;
    color: white;
    margin-left: 10px;
    text-align: center;
    font-size: 13px;
    padding: 10px;
}
.firstrow_one:hover{opacity: 0.5;}
.firstrow_two
{
    width: 95px;
    background: blue;
    color: white;
    margin-right: 10px;
    text-align: center;
    font-size: 13px;
    padding: 10px;
}
.firstrow_two:hover{opacity: 0.5;}
.secondrow
{
    margin-top: 10px;  
}
.secondrow_one
{
    width: 95px;
    border: 1px solid grey;
    margin-left: 10px;
    text-align: center;
    font-size: 13px;
    padding: 10px 5px;
    box-shadow: 0px 0px 22px 0px lightgrey;
}
.secondrow_one:hover{ background:blue; color: white;}
.secondrow_two
{
    width: 95px;
    border: 1px solid grey;
    margin-right: 10px;
    text-align: center;
    font-size: 13px;
    padding: 10px 6px;
    box-shadow: 0px 0px 22px 0px lightgrey;
}
.secondrow_two:hover{ background:blue; color: white;}
.thirdrow
{
    margin: 10px;  
}
.thirdrow a
{
    text-decoration: none;
}
.thirdrow a:hover{border-bottom: 1px solid blue;}
.thirdrow_one
{
    font-weight: bold;
}
.fourthrow
{
    margin: 10px;  
}
.fourthrow a
{
    text-decoration: none;
}
.fourthrow_one
{
    font-weight: bold;
}
.fifthrow
{
    color: blue;
    margin: 10px;  
}
.fifthrow a
{
    text-decoration: none;
}
.fifthrow a:hover{border-bottom: 1px solid blue;}
.lastrow
{
    color: blue;
    margin: 10px; 
    border-top: 1px dotted black;
    padding-top: 10px;
}
.customerservice
{
    position: relative;
}
.displaysecond
{
    position: absolute;
    top: 36px; left: -153px;
    width: 300px;
    line-height: 2;
    border: 1px solid black;
    display: none;
    background: white;
    z-index: 9;
}
.mystyle1{display: block;}
.displaysecond_1
{
    background: blue;
    color: white;
    padding: 10px;
    font-size: 18px;
}
.displaysecond_2
{
    color: black;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}
.displaysecond_3
{
    color: white;
    padding: 10px;
    width: 279px;
    font-size: 14px;
    background: darkblue;
    text-align: center;
    margin: 0px 10px;
}
.displaysecond_4
{
    color: black;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}
.displaysecond_5
{
    color: black;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    margin-top: -22px;
}
.displaysecond_5 p
{
    color: red;
    font-weight: normal;
    font-size: 12px;
}
.displaysecond_6 a
{
    text-decoration: none;
}
.displaysecond_6
{
    padding: 10px;
    color: blue;
}
.displaysecond_7
{
    color: black;
    padding: 10px;
    font-size: 12px;  
}
.displaysecond_8
{
    color: blue;
    padding: 10px;   
}
.displaysecond_8 a
{
    text-decoration: none;
}
.insidelogin
{
    position: absolute;
    top: 37px;
    left: -71px;
    background: white;
    border: 1px solid black;
    width: 253px;
    line-height: 2;
    border: 1px solid black;
    display: none;
    z-index: 9;
}
.mystyle2{display: block;}
.loginblue
{
    background: blue;
    color: white;
    font-size: 16px;
    padding: 0px 10px;
}
.existingclient
{
    padding: 0px 10px;
}
.loginbtn
{
    background: blue;
    padding: 4px 98px;
    color: white;
    margin-top: 5px;
}
.firsttime
{
    background: #0098d8;
    color: white;
    font-size: 16px;
    padding: 0px 10px;
    font-weight: bold;
}
.newmember
{
    background: #ffcd00;
    padding: 10px 36px;
    margin: 10px;
}
.requirement
{
    font-size: 14px;
    padding: 0px 10px;
}
.listofservice
{
    font-size: 14px;
    padding: 0px 10px;  
}
.middle_section
{
    margin-top: 10px;
}
.first_section
{
    width: 320px;
    border: 1px solid darkgray;
    line-height: 2;
}
.searchbycategory
{
    background:blue;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
.parts
{
    padding-left: 10px;
    color: blue;
}
.mechanicalparts
{
    position: relative;
}
.hover_box
{
    width: 554px;
    height: 400px;
    background: white;
    border: 1px solid darkgray;
    position: absolute;
    left: 309px;
    top: -53px;
    display: none;
    z-index: 9;
}
.hover_box a{text-decoration: none;}
.hover_box a:hover{text-decoration: underline;}
.hover_box:after
{
    content: '';
    position: absolute;
    width: 0px;
    border-width: 15px;
    border-color: transparent grey transparent transparent;
    border-style: solid;
    top: 52px;
    left: -29px;
}
.mechanicalparts:hover{color: rgb(145, 35, 145); text-decoration: underline;}
.mechanicalparts:hover .hover_box{display: block;}
.screw
{
    position: relative;
}
.hover_box1
{
    width: 554px;
    height: 400px;
    background: white;
    border: 1px solid darkgray;
    position: absolute;
    left: 309px;
    top: -53px;
    display: none;
    z-index: 9;
}
.hover_box1 a{text-decoration: none;}
.hover_box1 a:hover{text-decoration: underline;}
.hover_box1:after
{
    content: '';
    position: absolute;
    width: 0px;
    border-width: 15px;
    border-color: transparent grey transparent transparent;
    border-style: solid;
    top: 52px;
    left: -29px;
}
.screw:hover{color: rgb(145, 35, 145); text-decoration: underline;}
.screw:hover .hover_box1{display: block;}
.second_section
{
    width: 529px;
}
.arrown
{
    width: 35px;height: 35px;border-radius: 50%;
    background: white;border: 1px solid darkgray;
    position: absolute;left: 510px;top: 127px;z-index: 999;
    padding: 5px;
    text-align: center;
}
.arrowp
{
    width: 35px;height: 35px;border-radius: 50%;
    background: white;border: 1px solid darkgray;
    padding: 5px;
    position: absolute;right: 510px;top: 127px;z-index: 999;text-align: center;
}
.second_section_firstpart img
{
    width: 100%;
}
.first_thirdsection
{
    width: 300px;
    border: 1px solid black;
}
.owl-carousel button.owl-dot
{
    width: 15px; 
    height: 15px; 
    border: 3px solid blue;
    border-radius: 50%;
    margin: 0px 5px;
}
.owl-dots
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.owl-dot.active
{
    background: blue !important;
}
.second_thirdsection
{
    width: 300px;
    border: 1px solid black;
    margin-top: 10px;
}
.beginerguide
{
    background: blue;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
}
.registration_new
{
    padding: 10px;
}
.registration_new a{text-decoration: none;}
.registration_new a:hover{text-decoration: underline;}
.FAQ 
{
    padding: 10px;
}
.FAQ a{text-decoration: none;}
.FAQ a:hover{text-decoration: underline;}
.second_section_secondpart
{
    border: 1px solid rgb(110, 109, 109);
    margin-top: 30px;
    padding-bottom: 80px;
    background: #eeeeee;
}
.recommend
{
    background: #a7a7a7;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    color: white; 
}
.smallbox
{
    width: 110px;
    height: 110px;
    border: 1px solid darkgray;
    box-shadow: 0px 0px 22px 0px lightgrey;
    margin: 8px;
    padding: 5px;
}
.smallbox img
{
    width: 100%;
}
.caption{text-align: center;}
.caption a
{
    text-decoration: none;
}
.caption a:hover{text-decoration: underline;}
.third_thirdsection 
{
    border: 1px solid rgb(144, 144, 144);
    margin-top: 10px;
    padding: 10px;
}
.third_thirdsection img{ width: 100%;}
.last_thirdsection
{
    border: 1px solid rgb(144, 144, 144);
    margin-top: 10px;
    font-size: 16px;
}
.last_thirdsection:hover{background: blue;}
.lastwritting1{font-weight: bold;} 
.contactus
{
    margin-top: 30px;
    background:blue;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
.rowone
{
    font-weight: bold;
    padding: 10px;
}
.rowone-1
{
    width: 50%;
}
.rowone-2
{
    width: 50%;
}
.rowtwo
{
    border: 1px solid black;
}
.contactone
{
    border-right: 1px solid black; 
    width: 50%;
    padding: 10px;
}
.btnweb
{ 
    width: 200px; 
    background: #004098; 
    text-align: center;
    color: white;
    padding: 10px 0px;
    margin: 10px 0px;
}
.btnweb:hover{opacity: 0.5;}
.contacttwo
{
    width: 50%;
    padding: 10px;
}
.red {color: red;}
.contacttwo a{text-decoration: none; }
.contacttwo a:hover{border-bottom: 1px solid #004098;}
.contacttwo h1
{
    color: red;
    margin: 10px 0px;
}
.rowthree
{
    padding: 10px;
}
.rowthree a
{
    text-decoration: none; 
    color: #004098; 
    font-weight: bold;
}
.rowthree a:hover{border-bottom: 2px solid #004098;}
